:root {
    --width: 850px;
}
@font-face {
    font-family: "Comfortaa-Bold";
    src: url("./fonts/Comfortaa-Bold.ttf") format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "Comfortaa-Light";
    src: url("./fonts/Comfortaa-Light.ttf") format('truetype');
    font-weight: lighter;
}
@font-face {
    font-family: "Comfortaa-Medium";
    src: url("./fonts/Comfortaa-Medium.ttf") format('truetype');
    font-weight: medium;
}
@font-face {
    font-family: "Comfortaa-Regular";
    src: url("./fonts/Comfortaa-Regular.ttf") format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "Comfortaa-SemiBold";
    src: url("./fonts/Comfortaa-SemiBold.ttf") format('truetype');
    font-weight: 600;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body{
  /*  background-color: navy;*/
  display: flex;
  flex-direction: column;
}
/* header selectors */

header, footer, .main_section, .second_section, .third_section, .fourth_section, .fifth_section, .sixth_section {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: var(--width);
    margin: 0;
    margin-left: calc(50% - var(--width)/2);
}

.sml_txt{
    background-color: #60267F;
    height: 20px;
    width: var(--width);
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 10px;
    text-decoration: none;
}

.sml_txt2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 36px 120px;
}

.header_box{
    background-color: white;
    height: 50px;
    order: 2;
    display: inline-block;
}

.logo{
    font-size: 28px;
    font-family: 'Comfortaa-SemiBold';
    color: #60267F;
    float: left;
    margin-top: 9px;
    margin-left: 44px;
}

.users_menu{
    float: right;
    display: flex;
    margin-top: 2.5px;
    margin-right: 15px;
    column-gap: 18.5px;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 45px;

}

.users_menu a, .users_menu p {
    text-decoration: none;
    font-size: 10px;
}

button{
    height: 20px;
    width: 70px;
    border-radius: 4px;
    border: solid 1px #60267F;
    font-family: 'Comfortaa-SemiBold';
    font-size: 10px;
    color: #60267F;
    padding: 4px;
}

/* main section selectors */

.main_section{
    height: 640px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
section > p {
    width: 730px;
    background-color: white;
    font-size: 28px;
    /* font roboto */
    text-align: center;
    
}

.st_button{
    margin-top: 25px;
    width: 110px;
    height: 30px;
    background-color: #60267F;
    color: white;
}

.nd_button{
    width: 110px;
    height: 30px;
    background-color: white;
    color: #60267F;
}

.mobile{
    width: 340px;
    height: 350px;
    background-color:#60267f2d;
    border-radius: 160px;
    margin-top: 75px;
    margin-bottom: 50px;
    position:relative;
}

.mobile > .mobile{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    margin-top: 32px;
    margin-left: 42px;
}

.mobile2{
    width: 120px;
    height: 260px;
    border-radius: 5px;
    background-color:white;
    border: 1.5px solid #60267F;
    position: absolute;
    left: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo2{
    font-size: 28px;
    font-family: 'Comfortaa-SemiBold';
    color: #60267F;
}

.second_section{
    margin-top: 15px;
    height: 250px;
    align-items: center;
}

.third_section {
    margin-top: 470px;
    height: 800px;
    display: flex;
    align-items: center;
}

.fourth_section {
    height: 600px;
    align-items: center;
}

.fifth_section {
    background-color: blueviolet;
    height: 600px;
    align-items: center;
}

.sixth_section {
    background-color: cornflowerblue;
    height: 600px;
    align-items: center;
}

.bigger_text {
    font-size: 22px;
}

.avatars{
    margin-top: 40px;
    margin-bottom: 80px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

div > img {
    height: 70px;
}

.help_section{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help {
    margin-top: 50px;
    width: 360px;
    height: 350px;
    display: inline-block;
}

.help_cont{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 800px;
    justify-content: space-around;
}

.cell_phone {
    margin-top: 50px;
    width: 180px;
    height: 360px;
    display: inline-block;
}

.help_buttons {
    border-radius: 25px;
}

.help_buttons > div{
    width: 175px;
    height: 30px;
    background-color: white;
    color:#60267F;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    margin-left: 2.5px;
    margin-top: 2.5px;
}

.help_buttons > div:hover{
    background-color: #60267F;
    color:white;
}

.help_notes {
    height: 320px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-around;
}

.help_notes > p {
    background-color: #F2F2F2;
    margin: 5px;
    padding: 10px;
    font-size: 12px;
}

.construction{
    width: var(--width);
    position: relative;
    background-color: white;
    margin-left: 220px;
    display: inline-block;
}

.construction > img:first-child{
    width: 630px;
    height: 300px;
    position: absolute;
}

.construction > img:last-child{
    width: 74px;
    height: 74px;
    position: absolute;
    margin-left: 278px;
    margin-top: 113px;
}

.third_section > p:nth-last-child(2){
    margin-top: 340px;
}

.projects > div{
    display: inline-block;
    margin-right: 50px;
    background-color: white;
    height: 200px;
}

.projects > div:last-child{
    margin-right: 0px;
}

.projects > div > img{
    width: 200px;
    height: 135px;
}

.projects{
    margin-top: 50px;
}

.projects p{
    margin-left: 20px;
    margin-top: 5px;
}

.projects > div > p:nth-child(2){
    color: #60267F;
}

.fourth_section > p:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 16px 120px;
    color: #A79D9D;
}

.subscription, .subscription > *{
    display: inline-block;
}


.subscription > :nth-child(1)
{
    font-size: 14px;
    color: #A79D9D;
}

.subscription > :nth-child(3)
{
    font-size: 14px;
    color: #2B0236;
}

.subscription > :nth-child(2)
{
    width: 22px;
    height: 12px;
    border-radius: 6px;
    background-color: rgb(86,230,165);
    margin-top: 2.5px;
    position: relative;
}

.subscription > :nth-child(2) > div{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    margin-left: 13px;
    margin-top: 3px;
    background-color: white;
}

.subscription > :nth-child(4){
    padding: 3px;
    background-color: #FFE87A;
    font-size: 8px;
    border-radius: 4px;
}

.plans{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.plans > div {
    width: 150px;
    height: 280px;
    border: 1px solid #AAAAAA;
    border-radius: 6px;
}


.plans p {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 2.5px;
}


.plans > div > p:first-child{
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    display: block;
}

.plans > div > p:nth-child(2){
    font-size: 19px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: block;
}

.plans span{
    margin-left: 15px;
}

.plans > div > span:nth-child(4){
    margin-top: 20px;
}

.plans span, .plans img, span > p{
    display: inline-block;
}

.plans_button{
    width: 112px;
    height: 32px;
    border-radius: 3px;
    border: 1.5px solid rgba(43, 2, 54, 1);
    color: rgba(43, 2, 54, 1);
    padding: 7.5px;
    text-align: center;
    font-size: 12px;
    margin-left: 20px;
}

.plans > div > p:nth-child(4){
    margin: 20px;
}

.lorem{
    height: 380px;
    width: 100%;
    background-color: goldenrod;
    margin-top: 20px;
}